<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1 >Quotes</h1>
        <% for(let num of data.quotes) {%>
        <div style="border:solid; margin:10px; padding:5px;">
            <p><%= num.quote %></p>
            <p><%= num.author %></p>
        </div>
            <%}%>
</body>
</html>