<%- include('./components/header.ejs') %>
<div class="acontainer" style="width: 50%;" >
    <form action="" method="post" enctype="multipart/form-data">
        
        <div class="mb-3"> 
          <label  class="form-label">Product Name</label>
          <input type="text" class="form-control" name="name" required>
        </div>
        
        <div class="mb-3">
          <label  class="form-label">Price</label>
          <input type="text" class="form-control" name="price" required>
        </div>
        <div class="mb-3">
          <label  class="form-label">Category</label>
          <input type="text" class="form-control" name="category" required>
        </div>
        <div class="mb-3">
          <label  class="form-label">Description</label>
          <input type="text" class="form-control" name="description" required>
        </div>
        <div class="mb-3">
          <label  class="form-label">Image</label>
          <input type="text" name="name" placeholder="Enter thumbnail for image" required>
          <input type="file" class="form-control" name="thumbnail" accept="image/*" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>


<%- include('./components/footer.ejs') %>
